p {
 color: #502352;
 padding-top: 10px;
 padding-bottom: 2px;
}

h3 {
 font-weight: bold;
}

.jumbotron {
 height: 450px;
 display: flex;
 background-image: 
  url(http://rs1067.pbsrc.com/albums/u422/ifyougotone/File_009_zpsdlgmo3hd.jpeg?w=280&h=210&fit=crop);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: 100% 100%;
 max-width: 90%;
}

.main {
 padding-top: 15px;
 padding-bottom: 15px;
 padding-left: 20px;
 padding-right: 20px;
 max-width: 90%;
 background-color: #BDAEAE
}

.content {
 border-bottom: 3px solid #755E74;
 font-style: bold;
}

.contact {
 padding: 25px;
 color: #DCC6EA
  
}

.title {
 font-weight: bold;
}

nav ul {
 display: inline;
}

nav li {
 display: inline;
 padding-right: 25px;
 padding-top: 5px;
 color: #502352;
}

.name {
 color: #FCFAF1;
 padding: 10px;
 font-weight: bold;
}

.profile {
 font-style: italic;
}
