p {
 color: brown;
 padding-top: 10px;
 padding-bottom: 2px;
}

.jumbotron {
 display: flex;
 background-image: 
  url(http://rs1067.pbsrc.com/albums/u422/ifyougotone/File_009_zpsdlgmo3hd.jpeg?w=280&h=210&fit=crop);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: 80% 100%;
 max-width: 90%;
}

.main {
 padding-top: 15px;
 padding-bottom: 15px;
 padding-left: 20px;
 padding-right: 20px;
 max-width: 90%;
 background-color: #BDAEAE
}

.content {
 border-bottom: 3px solid #755E74;
 font-style: bold;
}

.contact {
 color: #ffffff
  
}
