p {
 color: purple;
}

.jumbotron {
 display: flex;
 background-image: 
  url(http://rs1067.pbsrc.com/albums/u422/ifyougotone/File_009_zpsdlgmo3hd.jpeg?w=280&h=210&fit=crop);
 
}

.main {
 padding-left: 20px;
 border-top: 4px solid black;
 max-width: 80%;
 background-color: #BDAEAE
}

.content {
 border-bottom: 2px solid black;
 font-weight: 500;
}
