p {
 color: brown;
}

.jumbotron {
 display: flex;
 background-image: 
  url(http://rs1067.pbsrc.com/albums/u422/ifyougotone/File_009_zpsdlgmo3hd.jpeg?w=280&h=210&fit=crop);
 background-size: cover;
}

.main {
 padding-bottom: 20px;
 max-width: 80%;
 background-color: #BDAEAE
}

.content {
 border-bottom: 2px solid black;
 font-weight: 700;
}
